In [1]:
pip install tabulate

Requirement already satisfied: tabulate in /opt/anaconda3/envs/dsc80/lib/python3.12/site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

# Predicting Power Outages and Their Cause

**Name(s)**: Ava Jeong and Charlene Hsu

**Website Link**: https://github.com/charl3n3hsu/DSC80_Final_Proj

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib_inline.backend_inline import set_matplotlib_formats
from IPython.display import display, IFrame, HTML

import plotly
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from dsc80_utils import *

## Step 1: Introduction

In [4]:
# TODO

## Step 2: Data Cleaning and Exploratory Data Analysis

In [5]:
outages = pd.read_csv('outages.csv')
outages = outages.iloc[1:]
outages

,variables,OBS,YEAR,MONTH,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
1,NaN,1.0,2011.0,7.0,...,0.6,91.59266587,8.407334131,5.478742983
2,NaN,2.0,2014.0,5.0,...,0.6,91.59266587,8.407334131,5.478742983
3,NaN,3.0,2010.0,10.0,...,0.6,91.59266587,8.407334131,5.478742983
...,...,...,...,...,...,...,...,...,...
1532,NaN,1532.0,2009.0,8.0,...,0.15,98.30774418,1.692255822,1.692255822
1533,NaN,1533.0,2009.0,8.0,...,0.15,98.30774418,1.692255822,1.692255822
1534,NaN,1534.0,2000.0,NaN,...,0.02,85.76115446,14.23884554,2.901181874

In [6]:
outages.columns

Index(['variables', 'OBS', 'YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE',
       'NERC.REGION', 'CLIMATE.REGION', 'ANOMALY.LEVEL', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE',
       'OUTAGE.RESTORATION.TIME', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL',
       'HURRICANE.NAMES', 'OUTAGE.DURATION', 'DEMAND.LOSS.MW',
       'CUSTOMERS.AFFECTED', 'RES.PRICE', 'COM.PRICE', 'IND.PRICE',
       'TOTAL.PRICE', 'RES.SALES', 'COM.SALES', 'IND.SALES', 'TOTAL.SALES',
       'RES.PERCEN', 'COM.PERCEN', 'IND.PERCEN', 'RES.CUSTOMERS',
       'COM.CUSTOMERS', 'IND.CUSTOMERS', 'TOTAL.CUSTOMERS', 'RES.CUST.PCT',
       'COM.CUST.PCT', 'IND.CUST.PCT', 'PC.REALGSP.STATE', 'PC.REALGSP.USA',
       'PC.REALGSP.REL', 'PC.REALGSP.CHANGE', 'UTIL.REALGSP', 'TOTAL.REALGSP',
       'UTIL.CONTRI', 'PI.UTIL.OFUSA', 'POPULATION', 'POPPCT_URBAN',
       'POPPCT_UC', 'POPDEN_URBAN', 'POPDEN_UC', 'POPDEN_RURAL',
       'AREAPCT_URBAN', 'AREAPCT_UC', 'PCT_LAND', 'PCT_WATER_TOT',
       'PCT_WATER_INLAND'],
      dtype='object')

In [7]:
# Keeping relevant columns
outages = outages[['YEAR', 'MONTH', 'U.S._STATE',
       'CLIMATE.REGION', 'ANOMALY.LEVEL', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE',
       'OUTAGE.RESTORATION.TIME', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL',
       'HURRICANE.NAMES', 'OUTAGE.DURATION', 'POPULATION', 'POPPCT_URBAN',
       'POPDEN_URBAN', 'POPDEN_UC', 'POPDEN_RURAL',
       'AREAPCT_URBAN', 'AREAPCT_UC', 'PCT_LAND', 'PCT_WATER_TOT',
       'PCT_WATER_INLAND']]

In [8]:
print(outages.dtypes)

missing_values = outages[['MONTH', 'CLIMATE.REGION', 'CAUSE.CATEGORY', 'OUTAGE.DURATION']].isnull().sum()
print("Missing Values:\n", missing_values)

YEAR                float64
MONTH               float64
U.S._STATE           object
                     ...
PCT_LAND             object
PCT_WATER_TOT        object
PCT_WATER_INLAND     object
Length: 24, dtype: object
Missing Values:
 MONTH               9
CLIMATE.REGION      6
CAUSE.CATEGORY      0
OUTAGE.DURATION    58
dtype: int64

In [9]:
outages['OUTAGE.DURATION'] = pd.to_numeric(outages['OUTAGE.DURATION'], errors='coerce')
outages['OUTAGE.DURATION'] = outages.groupby('CAUSE.CATEGORY')['OUTAGE.DURATION'].transform(lambda x: x.fillna(x.median()))
outages

,YEAR,MONTH,U.S._STATE,CLIMATE.REGION,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
1,2011.0,7.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
2,2014.0,5.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
3,2010.0,10.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
...,...,...,...,...,...,...,...,...,...
1532,2009.0,8.0,South Dakota,West North Central,...,0.15,98.30774418,1.692255822,1.692255822
1533,2009.0,8.0,South Dakota,West North Central,...,0.15,98.30774418,1.692255822,1.692255822
1534,2000.0,NaN,Alaska,NaN,...,0.02,85.76115446,14.23884554,2.901181874

In [10]:
# Imputation
category_mapping = outages.dropna(subset=['CAUSE.CATEGORY']).groupby('CAUSE.CATEGORY.DETAIL')['CAUSE.CATEGORY'].agg(pd.Series.mode)

def infer_category(detail):
    if pd.notna(detail) and detail in category_mapping:
        return category_mapping[detail]
    return None


outages['CAUSE.CATEGORY'] = outages.apply(lambda row: infer_category(row['CAUSE.CATEGORY.DETAIL']) if pd.isna(row['CAUSE.CATEGORY']) else row['CAUSE.CATEGORY'], axis=1)

outages['CAUSE.CATEGORY'] = outages['CAUSE.CATEGORY'].fillna(outages['CAUSE.CATEGORY'].mode()[0])

from sklearn.impute import SimpleImputer
def impute_missing_values(df):
    """
    Fill missing values in a DataFrame with appropriate imputation for each column type.

    Parameters:
    df (pd.DataFrame): The input DataFrame with missing values.

    Returns:
    pd.DataFrame: A DataFrame with missing values imputed.
    """
    df_imputed = df.copy()

    numerical_columns = df_imputed.select_dtypes(include=['number']).columns
    categorical_columns = df_imputed.select_dtypes(include=['object', 'category']).columns

    if len(numerical_columns) > 0:
        numerical_imputer = SimpleImputer(strategy='median')
        df_imputed[numerical_columns] = numerical_imputer.fit_transform(df_imputed[numerical_columns])

    if len(categorical_columns) > 0:
        categorical_imputer = SimpleImputer(strategy='most_frequent')
        df_imputed[categorical_columns] = categorical_imputer.fit_transform(df_imputed[categorical_columns])

    return df_imputed

impute_missing_values(outages)

outages['MONTH'] = outages['MONTH'].fillna(outages['MONTH'].median())

In [11]:
print(outages.isnull().sum())

YEAR                0
MONTH               0
U.S._STATE          0
                   ..
PCT_LAND            0
PCT_WATER_TOT       0
PCT_WATER_INLAND    0
Length: 24, dtype: int64

In [23]:
# HEAD of DF

outages.head()
# print(outages.head().to_markdown(index=False)) Include on WEBSITE

,YEAR,MONTH,U.S._STATE,CLIMATE.REGION,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
1,2011.0,7.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
2,2014.0,5.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
3,2010.0,10.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
4,2012.0,6.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983
5,2015.0,7.0,Minnesota,East North Central,...,0.6,91.59266587,8.407334131,5.478742983

In [29]:
# Frequency Distribution of Climate Region
fig1 = px.bar(outages['CLIMATE.REGION'].value_counts(), 
              title='Frequency Distribution of Climate Regions',
              labels={'index': 'Climate Region', 'value': 'Frequency'})
fig1.show()

In [30]:
# Boxplot of Outage Duration
fig2 = px.box(outages, y='OUTAGE.DURATION', title='Box Plot of Outage Duration',
              labels={'outage_duration': 'Outage Duration (hours)'})
fig2.show()

In [31]:
# Bivariate Analysis: Outage Duration vs. Climate Region
fig3 = px.box(outages, x='CLIMATE.REGION', y='OUTAGE.DURATION', 
              title='Outage Duration by Climate Region',
              labels={'climate_region': 'Climate Region', 'outage_duration': 'Outage Duration (hours)'})
fig3.show()


fig4 = px.strip(outages, x='CLIMATE.REGION', y='OUTAGE.DURATION', 
                title='Outage Duration by Climate Region (Scatter with Jitter)',
                labels={'climate_region': 'Climate Region', 'outage_duration': 'Outage Duration (hours)'})
fig4.show()

In [32]:
# Bivariate Analysis: Outage Duration vs. Cause Category
fig5 = px.box(outages, x='CAUSE.CATEGORY', y='OUTAGE.DURATION', 
              title='Outage Duration by Cause Category',
              labels={'cause_category': 'Cause Category', 'outage_duration': 'Outage Duration (hours)'})
fig5.show()


fig6 = px.strip(outages, x='CAUSE.CATEGORY', y='OUTAGE.DURATION', 
                title='Outage Duration by Cause Category (Scatter with Jitter)',
                labels={'cause_category': 'Cause Category', 'outage_duration': 'Outage Duration (hours)'})
fig6.show()

In [13]:
# Plotting

#Boxplot (BI-VARIATE)
fig = px.box(outages, x="CAUSE.CATEGORY", y="OUTAGE.DURATION", 
             title="Distribution of Outage Duration by Cause Category",
             points="all")  # Show all points

fig.show()

In [35]:
# Pivot Tables by Mean

pivot_table = pd.pivot_table(
    outages,
    values='OUTAGE.DURATION',  
    index='CLIMATE.REGION',   
    columns='CAUSE.CATEGORY', 
    aggfunc='mean',            
    fill_value=0              
)
pivot_table

CAUSE.CATEGORY,equipment failure,fuel supply emergency,intentional attack,islanding,public appeal,severe weather,system operability disruption
CLIMATE.REGION,,,,,,,
Central,293.14,10035.25,315.53,125.33,1410.00,3238.30,2469.73
East North Central,26435.33,27969.00,2376.05,1.00,733.00,4434.82,2610.00
Northeast,215.80,14629.57,191.84,881.00,2655.00,4418.71,736.27
...,...,...,...,...,...,...,...
Southwest,113.80,2018.00,255.84,2.00,2275.00,11572.90,329.22
West,524.81,5250.94,857.68,214.86,2028.11,2908.30,356.41
West North Central,61.00,3960.00,23.50,68.20,439.50,2442.50,0.00

In [14]:
# Bar (BI_VARIATE)
df_summary = outages.groupby("CAUSE.CATEGORY")["OUTAGE.DURATION"].agg(["mean", "median"]).reset_index()

fig = px.bar(df_summary, x="CAUSE.CATEGORY", y=["mean", "median"], 
             title="Mean and Median Outage Duration by Cause Category",
             barmode="group")

fig.update_layout(xaxis_title="Cause Category", yaxis_title="Duration (mins)")
fig.show()

## Step 3: Assessment of Missingness

In [15]:
# Permutation Test for Missingness

def permutation_test(data, col_missing, col_test, num_permutations=1000):
    cause_frequencies = data[col_test].value_counts(normalize=True).to_dict()
    
    data['CAUSE_ENCODED'] = data[col_test].map(cause_frequencies)
    
    observed_diff = abs(data[data[col_missing].isnull()]['CAUSE_ENCODED'].mean() -
                        data[~data[col_missing].isnull()]['CAUSE_ENCODED'].mean())
    
    perm_diffs = []
    for _ in range(num_permutations):
        shuffled = data['CAUSE_ENCODED'].sample(frac=1, replace=False).reset_index(drop=True)
        perm_diff = abs(data[data[col_missing].isnull()].index.to_series().map(shuffled).mean() -
                        data[~data[col_missing].isnull()].index.to_series().map(shuffled).mean())
        perm_diffs.append(perm_diff)
    
    p_value = np.mean(np.array(perm_diffs) >= observed_diff)
    
    fig = px.histogram(perm_diffs, nbins=30, title=f'Permutation Test for Missingness in {col_missing}', 
                       labels={'value': 'Test Statistic (Mean Difference)'}, opacity=0.7)
    fig.add_vline(x=observed_diff, line_dash='dash', line_color='red', annotation_text='Observed Difference')
    fig.show()
    
    return observed_diff, p_value

df = pd.read_csv('outages.csv').iloc[1:]
df['OUTAGE.DURATION'] = pd.to_numeric(df['OUTAGE.DURATION'], errors='coerce')
observed_diff, p_value = permutation_test(df, 'OUTAGE.DURATION', 'CAUSE.CATEGORY')
print(f"Observed Difference: {observed_diff}, P-Value: {p_value}")

Observed Difference: 0.08634898930475615, P-Value: 0.001

## Step 4: Hypothesis Testing

In [16]:
from scipy.stats import kruskal

# Drop rows with missing values in the columns of interest
outages_clean = outages.dropna(subset=['CAUSE.CATEGORY', 'OUTAGE.DURATION'])

# Group outage durations by cause category
groups = [group['OUTAGE.DURATION'].values for name, group in outages_clean.groupby('CAUSE.CATEGORY')]

# Perform Kruskal-Wallis test
statistic, p_value = kruskal(*groups)

print(f"Kruskal-Wallis Test Statistic: {statistic}, P-Value: {p_value}")

# Create a violin plot
fig = px.violin(outages_clean, x="CAUSE.CATEGORY", y="OUTAGE.DURATION", 
                title="Distribution of Outage Durations by Cause Category",
                box=True, points="all", hover_data=outages_clean.columns)

# Update layout
fig.update_layout(xaxis_title="Cause Category", yaxis_title="Outage Duration (mins)")
fig.show()

Kruskal-Wallis Test Statistic: 700.6054239816652, P-Value: 4.526908484457232e-148

In [52]:
# Permutation Test
def permutation_test_missingness(df, column_to_test, missingness_column, n_permutations=1000):
    """
    Perform a permutation test to check if the missingness of a column depends on another column.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    column_to_test (str): The column to test for dependency on missingness.
    missingness_column (str): The missingness indicator column.
    n_permutations (int): Number of permutations to perform.

    Returns:
    float: The p-value of the permutation test.
    """
    grouped = df.groupby(column_to_test)[missingness_column].mean()
    observed_tvd = np.abs(grouped.diff().dropna()).sum() / 2

    # Permutation test
    tvds = []
    for n in range(n_permutations):
        shuffled = df.assign(Shuffled=np.random.permutation(df[missingness_column]))

        shuffled_grouped = shuffled.groupby(column_to_test)['Shuffled'].mean()
        shuffled_tvd = np.abs(shuffled_grouped.diff().dropna()).sum() / 2
        tvds.append(shuffled_tvd)

    p_value = (np.array(tvds) >= observed_tvd).mean()

    return observed_tvd, tvds, p_value

In [53]:
# Perform the test for climate_region
observed_tvd, tvds, _ = permutation_test_missingness(outages, 'CLIMATE.REGION', 'OUTAGE.DURATION')

# Plot the empirical distribution of TVD
fig = px.histogram(tvds, nbins=30, labels={'value': 'TVD'}, title='Empirical Distribution of TVD under Null Hypothesis')
fig.add_vline(x=observed_tvd, line_dash="dash", line_color="red", annotation_text="Observed TVD", annotation_position="top right")
fig.update_layout(xaxis_title="TVD", yaxis_title="Frequency", showlegend=False)
fig.show()

In [54]:
# Perform the test for cause_category
observed_tvd, tvds, _ = permutation_test_missingness(outages, 'CAUSE.CATEGORY', 'OUTAGE.DURATION')

# Plot the empirical distribution of TVD
fig = px.histogram(tvds, nbins=30, labels={'value': 'TVD'}, title='Empirical Distribution of TVD under Null Hypothesis')
fig.add_vline(x=observed_tvd, line_dash="dash", line_color="red", annotation_text="Observed TVD", annotation_position="top right")
fig.update_layout(xaxis_title="TVD", yaxis_title="Frequency", showlegend=False)
fig.show()

## Step 5: Framing a Prediction Problem

In [18]:
# TODO

## Step 6: Baseline Model

In [19]:
# TODO

## Step 7: Final Model

In [20]:
# TODO

## Step 8: Fairness Analysis

In [21]:
# TODO